<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxm8pO_GCVuRw2VMIsGNlRy8PkRk6zv-o</string>
	<key>GCM_SENDER_ID</key>
	<string>800761431485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.runtime.ear</string>
	<key>PROJECT_ID</key>
	<string>ear-push</string>
	<key>STORAGE_BUCKET</key>
	<string>ear-push.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800761431485:ios:87cdb2a77438240b457ed4</string>
</dict>
</plist>